<mat-card>
  <mat-card-content>
    <header>Publisher</header>
    <span class="sub-title">Publish a message to a topic destination.</span>

    <form [formGroup]="form">
      <!-- Topic -->
      <mat-form-field>
        <mat-label>Topic</mat-label>
        <input matInput [formControlName]="TOPIC">
      </mat-form-field>

      <!-- Message -->
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput [formControlName]="MESSAGE" class="message"></textarea>
      </mat-form-field>

      <!-- Message Type -->
      <mat-form-field>
        <mat-label>Message Type</mat-label>
        <mat-select [formControlName]="MESSAGE_TYPE">
          <mat-option [value]="MessageType.BINARY">BINARY</mat-option>
          <mat-option [value]="MessageType.TEXT">TEXT</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Headers -->
      <mat-form-field>
        <mat-label>Headers</mat-label>
        <input matInput [formControlName]="HEADERS" placeholder="name->value;name->value">
      </mat-form-field>

      <button mat-stroked-button color="primary" (click)="onPublish()" [disabled]="form.invalid">Publish</button>
    </form>
  </mat-card-content>

  <mat-card-footer *ngIf="publishError">
    <section class="error">
      {{publishError}}
    </section>
  </mat-card-footer>
</mat-card>
