@use '@angular/material' as mat;
@use 'solace-client-theme' as app-theme;

:host {
  display: grid;
  margin: .25em;

  > mat-card {
    display: flex;
    flex-direction: column;

    > mat-card-content {
      flex: auto;
      display: flex;
      flex-direction: column;

      > header {
        flex: none;
        font-size: mat.font-size(app-theme.$typography, title);
        margin-bottom: .25em;
      }

      > span.sub-title {
        flex: none;
        font-size: mat.font-size(app-theme.$typography, subheading-1);
        color: mat.get-color-from-palette(app-theme.$foreground, secondary-text);
      }

      > sci-viewport {
        flex: 1 1 0;

        &.request-reply {
          --sci-viewport-content-grid-template-rows: auto 1fr;
          --sci-viewport-content-grid-gap: 1em 0;
        }

        form {
          display: grid;
          grid-auto-rows: auto;
          grid-template-columns: 1fr auto;
          place-content: start;
          column-gap: 2em;
          margin-top: 3em;

          textarea.message {
            height: 10em;
          }

          > mat-form-field, > button {
            grid-column: 1/-1;
          }

          > mat-form-field.destination, > mat-form-field.message-type {
            grid-column: 1
          }

          > mat-form-field.destination-type, > mat-form-field.message-delivery-mode {
            grid-column: 2;
          }
        }

        section.replies {
          display: flex;
          flex-direction: column;
          padding: 1em;
          border: 1px solid mat.get-color-from-palette(app-theme.$foreground, divider);
          border-radius: 5px;

          > sci-viewport {
            flex: 1 1 0;
            --sci-viewport-content-grid-auto-rows: max-content;
            --sci-viewport-content-grid-gap: 1em 0;
            min-height: 15em;

            app-message-list-item {
              border-bottom: 1px solid mat.get-color-from-palette(app-theme.$foreground, divider);
            }
          }

          > button.replies.clear {
            flex: none;
          }
        }
      }
    }

    > mat-card-footer {
      flex: none;

      > section.sending {
        margin: .75em;
        color: mat.get-color-from-palette(app-theme.$foreground, secondary-text);
        background-color: mat.get-color-from-palette(app-theme.$foreground, secondary-text, .0125);
        border: 1px solid mat.get-color-from-palette(app-theme.$foreground, secondary-text, .12);
        border-radius: 3px;
        padding: 1em;
        font-style: italic;
        text-align: center;
      }

      > section.error {
        margin: .75em;
        border: 1px solid mat.get-color-from-palette(app-theme.$warn);
        border-radius: 3px;
        background-color: mat.get-color-from-palette(app-theme.$warn, 100);
        padding: 1em;
      }
    }
  }
}
