<mat-card appearance="outlined">
  <mat-card-content>
    <header>Publisher</header>
    <span class="sub-title">Publish a message to a topic destination.</span>

    <sci-viewport [class.request-reply]="requestReply">
      <form [formGroup]="form">
        <!-- Destination -->
        <mat-form-field class="destination">
          <mat-label>Destination</mat-label>
          <input matInput [formControl]="form.controls.destination">
        </mat-form-field>

        <!-- Destination Type -->
        <mat-form-field class="destination-type">
          <mat-label>Destination Type</mat-label>
          <mat-select [formControl]="form.controls.destinationType">
            <mat-option [value]="DestinationType.TOPIC">Topic</mat-option>
            <mat-option [value]="DestinationType.QUEUE">Queue</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Message -->
        <mat-form-field>
          <mat-label>Message</mat-label>
          <textarea matInput [formControl]="form.controls.message" class="message"></textarea>
        </mat-form-field>

        <!-- Message Type -->
        <mat-form-field class="message-type">
          <mat-label>Message Type</mat-label>
          <mat-select [formControl]="form.controls.messageType">
            <mat-option [value]="MessageType.BINARY">Binary</mat-option>
            <mat-option [value]="MessageType.TEXT">Text</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Message Delivery Mode -->
        <mat-form-field class="message-delivery-mode">
          <mat-label>Message Delivery Mode</mat-label>
          <mat-select [formControl]="form.controls.deliveryMode">
            <mat-option [value]="MessageDeliveryModeType.DIRECT">Direct (default)</mat-option>
            <mat-option [value]="MessageDeliveryModeType.PERSISTENT">Persistent</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Headers -->
        <mat-form-field>
          <mat-label>Headers</mat-label>
          <input matInput [formControl]="form.controls.headers" placeholder="name->value;name->value">
        </mat-form-field>

        <!-- Request/Reply -->
        <mat-checkbox [formControl]="form.controls.requestReply">Request/Reply</mat-checkbox>

        @if (publishing) {
          <button mat-stroked-button color="primary" (click)="onCancelPublish()">Cancel</button>
        } @else {
          <button mat-stroked-button color="primary" (click)="onPublish()" [disabled]="form.invalid">Publish</button>
        }
      </form>

      <!-- Replies -->
      @if (requestReply) {
        <section class="replies">
          <sci-viewport>
            @for (envelope of replies; track $index) {
              <app-message-list-item [envelope]="envelope"
                                     (delete)="onDeleteReply(envelope)">
              </app-message-list-item>
            }
          </sci-viewport>
          @if (replies.length) {
            <button class="clear" mat-stroked-button color="primary" (click)="onClearReplies()">Clear</button>
          }
        </section>
      }
    </sci-viewport>
  </mat-card-content>

  @if (publishing && !requestReply) {
    <mat-card-footer>
      <section class="sending">
        Waiting for the event broker to acknowledge the message.
      </section>
    </mat-card-footer>
  }

  @if (publishing && requestReply) {
    <mat-card-footer>
      <section class="sending">
        Waiting for the reply to be received.
      </section>
    </mat-card-footer>
  }

  @if (publishError) {
    <mat-card-footer>
      <section class="error">
        {{publishError}}
      </section>
    </mat-card-footer>
  }
</mat-card>
