<ng-container [formGroup]="form">
  <section class="subscription" [formGroup]="form.controls.subscription">
    <!-- Destination -->
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input matInput [formControl]="form.controls.subscription.controls.destination" appAutoFocus>
    </mat-form-field>

    <!-- Destination Type -->
    <mat-form-field>
      <mat-label>Destination Type</mat-label>
      <mat-select [formControl]="form.controls.subscription.controls.destinationType">
        <mat-option value="TOPIC" [matTooltip]="tooltips.topic" matTooltipClass="large">Topic</mat-option>
        <mat-option value="QUEUE" [matTooltip]="tooltips.queue" matTooltipClass="large">Queue</mat-option>
        <mat-option value="TOPIC_ENDPOINT" [matTooltip]="tooltips.topicEndpoint" matTooltipClass="large">Topic Endpoint</mat-option>
        <mat-option value="QUEUE_BROWSER" [matTooltip]="tooltips.queueBrowser" matTooltipClass="large">Queue Browser</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Subscribe/Unsubscribe -->
    @if (isSubscribed) {
      <button mat-stroked-button color="primary" (click)="onUnsubscribe()" [disabled]="form.invalid" class="unsubscribe">Unsubscribe</button>
    } @else {
      <button mat-stroked-button color="primary" (click)="onSubscribe()" [disabled]="form.invalid" class="subscribe">Subscribe</button>
    }
  </section>

  <!-- Messages -->
  <sci-viewport class="messages">
    @for (envelope of envelopes; track $index) {
      <app-message-list-item [envelope]="envelope"
                             (reply)="onReply(envelope.message)"
                             (delete)="onDelete(envelope)">
      </app-message-list-item>
    }
  </sci-viewport>

  <!-- Follow tail -->
  <mat-checkbox [formControl]="form.controls.followTail" color="primary" class="follow-tail">Follow tail</mat-checkbox>

  <footer>
    @if (envelopes.length) {
      <button mat-stroked-button (click)="onClear()">Clear messages</button>
    }
    @if (subscribeError) {
      <section class="error">
        {{subscribeError}}
      </section>
    }
  </footer>
</ng-container>
