<ng-container [formGroup]="form">
  <section class="subscription" [formGroupName]="SUBSCRIPTION">
    <!-- Destination -->
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input matInput [formControlName]="DESTINATION" appAutoFocus>
    </mat-form-field>

    <!-- Destination Type -->
    <mat-form-field>
      <mat-label>Destination Type</mat-label>
      <mat-select [formControlName]="DESTINATION_TYPE">
        <mat-option [value]="SubscriptionDestinationType.TOPIC" [matTooltip]="tooltips.topic" matTooltipClass="large">Topic</mat-option>
        <mat-option [value]="SubscriptionDestinationType.QUEUE" [matTooltip]="tooltips.queue" matTooltipClass="large">Queue</mat-option>
        <mat-option [value]="SubscriptionDestinationType.TOPIC_ENDPOINT" [matTooltip]="tooltips.topicEndpoint" matTooltipClass="large">Topic Endpoint</mat-option>
        <mat-option [value]="SubscriptionDestinationType.QUEUE_BROWSER" [matTooltip]="tooltips.queueBrowser" matTooltipClass="large">Queue Browser</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Subscribe/Unsubscribe -->
    <button mat-stroked-button color="primary" (click)="onSubscribe()" *ngIf="!isSubscribed" [disabled]="form.invalid" class="subscribe">Subscribe</button>
    <button mat-stroked-button color="primary" (click)="onUnsubscribe()" *ngIf="isSubscribed" [disabled]="form.invalid" class="unsubscribe">Unsubscribe</button>
  </section>

  <!-- Messages -->
  <sci-viewport class="messages">
    <app-message-list-item *ngFor="let envelope of envelopes"
                           [envelope]="envelope"
                           (reply)="onReply(envelope.message)"
                           (delete)="onDelete(envelope)">
    </app-message-list-item>
  </sci-viewport>

  <!-- Follow tail -->
  <mat-checkbox [formControlName]="FOLLOW_TAIL" color="primary" class="follow-tail">Follow tail</mat-checkbox>

  <footer>
    <button mat-stroked-button (click)="onClear()" *ngIf="envelopes.length">Clear messages</button>
    <section class="error" *ngIf="subscribeError">
      {{subscribeError}}
    </section>
  </footer>
</ng-container>
