@use 'apps/solace-message-client-testing-app/src/styles/solace-client-theme' as app-theme;
@use '~@angular/material/theming';

:host {
  display: grid;
  margin: .25em;

  > header {
    flex: none;
    font-size: theming.mat-font-size(app-theme.$typography, title);
    margin-bottom: .25em;
  }
}
