@use '@angular/material' as mat;
@use 'solace-client-theme' as app-theme;

:host {
  display: flex;
  flex-direction: column;
  margin-top: 3em;

  > section.subscription {
    flex: none;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2em;

    > button.subscribe, > button.unsubscribe {
      grid-column: 1/-1;
    }
  }

  > sci-viewport.messages {
    flex: 1 1 0;
    --sci-viewport-content-grid-auto-rows: max-content;
    --sci-viewport-content-grid-gap: 1em 0;
    min-height: 20em;

    app-message-list-item {
      border-bottom: 1px solid mat.get-color-from-palette(app-theme.$foreground, divider);
    }
  }

  > mat-checkbox.follow-tail {
    flex: none;
    margin-bottom: 1em; // to omit vertical scrollbar caused by matRipple
    align-self: flex-end;
  }

  > footer {
    flex: none;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 1em;

    > section.error {
      border: 1px solid mat.get-color-from-palette(app-theme.$warn);
      background-color: mat.get-color-from-palette(app-theme.$warn, 100);
      border-radius: 3px;
      padding: 1em;
    }
  }
}

::ng-deep .mat-tooltip.large {
  white-space: pre-line;
  font-size: larger;
}
