<mat-card [formGroup]="form">
  <mat-card-content>
    <header>Subscriber</header>
    <span class="sub-title">Subscribe to a topic to receive messages published to that destination.</span>

    <section class="subscription" [formGroupName]="SUBSCRIPTION">
      <!-- Topic -->
      <mat-form-field>
        <mat-label>Topic</mat-label>
        <input matInput [formControlName]="TOPIC">
        <!-- Subscribe/Unsubscribe -->
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="onSubscribe()" *ngIf="!isSubscribed" [disabled]="form.invalid" class="subscribe">Subscribe</button>
      <button mat-stroked-button color="primary" (click)="onUnsubscribe()" *ngIf="isSubscribed" [disabled]="form.invalid" class="unsubscribe">Unsubscribe</button>
    </section>

    <!-- Messages -->
    <sci-viewport class="messages">
      <app-message-list-item *ngFor="let envelope of envelopes"
                             [envelope]="envelope"
                             (delete)="onDelete(envelope)">
      </app-message-list-item>
    </sci-viewport>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button (click)="onClear()" *ngIf="envelopes.length">Clear messages</button>
  </mat-card-actions>

  <mat-card-actions>
    <mat-checkbox [formControlName]="FOLLOW_TAIL">Follow tail</mat-checkbox>
  </mat-card-actions>

  <mat-card-footer *ngIf="subscribeError">
    <section class="error">
      {{subscribeError}}
    </section>
  </mat-card-footer>
</mat-card>
