<header>
  <div class="connection-state"
       [class.connected]="solaceMessageClient.connected$ | async"
       (click)="onSessionPropertiesOpen()"
       title="Click to see session properties">
    <ng-container *ngIf="solaceMessageClient.connected$ | async; then connected_template; else disconnected_template"></ng-container>
  </div>

  <button mat-stroked-button (click)="onDisconnect()" *ngIf="solaceMessageClient.connected$ | async">Disconnect</button>
  <button mat-stroked-button (click)="onConnect()" *ngIf="(solaceMessageClient.connected$ | async) === false">Connect</button>
  <button mat-stroked-button (click)="onLogout()">Logout</button>
</header>

<sci-sashbox>
  <ng-template sciSash>
    <app-publisher></app-publisher>
  </ng-template>

  <ng-template sciSash>
    <app-subscribers></app-subscribers>
  </ng-template>
</sci-sashbox>

<ng-template #connected_template>
  Connected to {{sessionProperties.url}} / {{sessionProperties.vpnName}}
</ng-template>
<ng-template #disconnected_template>
  Disconnected from the Solace Message Broker
</ng-template>
