<header>
  <button mat-stroked-button
          class="connection-state"
          [class.connected]="solaceMessageClient.connected$ | async"
          (click)="onSessionPropertiesOpen()"
          title="Click to see session properties">
    @if (solaceMessageClient.connected$ | async) {
      Connected to {{sessionConfig.url}} / {{sessionConfig.vpnName}}
    } @else {
      Disconnected from the Solace Message Broker
    }
  </button>

  @if (sessionConfig.authenticationScheme === AuthenticationScheme.OAUTH2) {
    <button mat-stroked-button (click)="onUpdateAccessToken()">
      <mat-icon matTooltip="Provide OAuth 2.0 access token" class="material-icons-outlined">pin</mat-icon>
    </button>
  }
  <button mat-stroked-button (click)="onLoginPage()" matTooltip="Go to the login page">
    <mat-icon>login</mat-icon>
  </button>
</header>

<sci-sashbox>
  <ng-template sciSash>
    <app-publisher/>
  </ng-template>

  <ng-template sciSash>
    <app-subscribers/>
  </ng-template>
</sci-sashbox>
