@use '@angular/material' as mat;
@use 'solace-client-theme' as app-theme;

:host {
  display: flex;
  flex-direction: column;

  > header {
    flex: none;
    display: flex;
    gap: .5em;
    justify-content: flex-end;

    > div.connection-state {
      border-radius: 3px;
      padding: .25em 1em;
      text-align: center;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.connected {
        border: 1px solid #24be6f;
        background-color: #caffe6;
      }

      &:not(.connected) {
        border: 1px solid mat.get-color-from-palette(app-theme.$warn);
        background-color: mat.get-color-from-palette(app-theme.$warn, 100);
      }
    }
  }

  > sci-sashbox {
    flex: 1 1 0;
    margin-top: 5em;
  }
}
