<header>
  <button mat-stroked-button
          class="connection-state"
          [class.connected]="solaceMessageClient.connected$ | async"
          (click)="onSessionPropertiesOpen()"
          title="Click to see session properties">
    <ng-container *ngIf="solaceMessageClient.connected$ | async; then connected_template; else disconnected_template"></ng-container>
  </button>

  <button mat-stroked-button (click)="onDisconnect()" *ngIf="solaceMessageClient.connected$ | async" matTooltip="Disconnect">
    <mat-icon>wifi</mat-icon>
  </button>
  <button mat-stroked-button (click)="onConnect()" *ngIf="(solaceMessageClient.connected$ | async) === false" matTooltip="Connect">
    <mat-icon>wifi_off</mat-icon>
  </button>
  <button mat-stroked-button (click)="onUpdateAccessToken()" *ngIf="sessionConfig.authenticationScheme === AuthenticationScheme.OAUTH2">
    <mat-icon matTooltip="Provide OAuth 2.0 access token" class="material-icons-outlined">pin</mat-icon>
  </button>
  <button mat-stroked-button (click)="onLoginPage()" matTooltip="Go to the login page">
    <mat-icon>login</mat-icon>
  </button>
</header>

<sci-sashbox>
  <ng-template sciSash>
    <app-publisher></app-publisher>
  </ng-template>

  <ng-template sciSash>
    <app-subscribers></app-subscribers>
  </ng-template>
</sci-sashbox>

<ng-template #connected_template>
  Connected to {{sessionConfig.url}} / {{sessionConfig.vpnName}}
</ng-template>
<ng-template #disconnected_template>
  Disconnected from the Solace Message Broker
</ng-template>
