<span class="timestamp">{{message.getReceiverTimestamp() | date:'HH:mm:ss'}}</span>

<span>Destination:</span>
<span class="topic">{{envelope.message.getDestination()!.getName()}}</span>

<span>Type:</span>
<span>{{type}}</span>

<ng-container *ngIf="envelope.params?.size">
  <span>Params:</span>
  <span>{{envelope.params | appStringifyMap}}</span>
</ng-container>

<ng-container *ngIf="envelope.headers?.size">
  <span>Headers:</span>
  <span>{{envelope.headers | appStringifyMap}}</span>
</ng-container>

<span>Details:</span>
<sci-viewport class="content">{{details}}</sci-viewport>

<span>Content:</span>
<sci-viewport class="content">
  <section [class.zipped]="envelope.headers.get('Content-Encoding') === 'gzip'">
    {{content}}
  </section>
</sci-viewport>

<section class="actions">
  <button *ngIf="envelope.message.getReplyTo()"
          mat-mini-fab class="reply" color="primary" title="Reply"
          (click)="onReply(envelope.message)">
    <mat-icon>reply</mat-icon>
  </button>

  <button mat-mini-fab class="delete" color="primary" title="Delete" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
  </button>
</section>
