<h3>Login to the Solace Messaging Broker</h3>

<mat-card appearance="outlined">
  <mat-card-content>
    <form [formGroup]="form">
      <!-- URL -->
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput [formControlName]="URL">
      </mat-form-field>

      <!-- VPN -->
      <mat-form-field>
        <mat-label>VPN</mat-label>
        <input matInput [formControlName]="VPN_NAME">
      </mat-form-field>

      @if (form.get(AUTHENTICATION_SCHEME)!.value === AuthenticationScheme.BASIC) {
        <!-- Username -->
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput [formControlName]="USER_NAME">
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [formControlName]="PASSWORD" type="password">
        </mat-form-field>
      }

      <!-- Authentication Scheme -->
      <mat-form-field>
        <mat-label>Authentication Scheme</mat-label>
        <mat-select [formControlName]="AUTHENTICATION_SCHEME">
          <mat-option [value]="AuthenticationScheme.BASIC">BASIC</mat-option>
          <mat-option [value]="AuthenticationScheme.OAUTH2">OAUTH2</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Reapply Subscription -->
      <mat-checkbox [formControlName]="REAPPLY_SUBSCRIPTIONS">Reapply Subscriptions</mat-checkbox>

      <!-- Reconnect Retries -->
      <mat-form-field>
        <mat-label>Reconnect Retries</mat-label>
        <input matInput type="number" [formControlName]="RECONNECT_RETRIES"/>
      </mat-form-field>

      <!-- Buttons -->
      <button mat-stroked-button (click)="onReset()" class="reset">Reset</button>
      <button mat-flat-button color="primary" (click)="onLogin()" class="login" [disabled]="form.invalid">Login</button>
    </form>
  </mat-card-content>
</mat-card>

