@use '@angular/material' as mat;
@use 'solace-client-theme' as app-theme;

:host {
  display: grid;
  margin: .25em;

  > mat-card {
    display: flex;
    flex-direction: column;

    > mat-card-header {
      flex: none;
      display: flex;
      flex-direction: column;

      > header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;

        > span.title {
          font-size: mat.font-size(app-theme.$typography, headline-6);
          margin-bottom: .25em;
        }

        > span.sub-title {
          font-size: mat.font-size(app-theme.$typography, subtitle-2);
          color: mat.get-color-from-palette(app-theme.$foreground, secondary-text);
        }
      }

      > div.divider {
        display: grid;
        align-items: center;
        position: relative; // positioning context for mat-fab-button
        margin-bottom: 2em;

        > mat-divider {
          position: absolute;
        }

        > button[mat-fab].add {
          justify-self: center;
        }
      }
    }

    > mat-card-content {
      display: grid;
      flex: auto;

      ::ng-deep .mdc-tab__content {
        pointer-events: unset; // unset pointer-events because set to `none` by Angular Material; used to close the tab
      }

      > mat-tab-group {
        min-width: 0; // set min-width to 0 to not overflow flex container horizontally

        ::ng-deep mat-tab-header {
          border-bottom: 1px solid mat.get-color-from-palette(app-theme.$background, status-bar);
        }

        div.tab {
          display: flex;
          align-items: center;

          > input.tab-name {
            cursor: default;
          }

          > button.delete {
            line-height: 1;
          }

          &:not(:hover) {
            > button.delete {
              visibility: hidden;
            }
          }
        }

        ::ng-deep .mat-mdc-tab-body-wrapper {
          flex: 1 1 0; // fill available vertical space

          ::ng-deep .mat-mdc-tab-body-content {
            display: grid; // fill available vertical space
          }
        }
      }
    }
  }
}
