<mat-card>
  <mat-card-content>
    <span class="sub-title">Subscribe to a topic to receive messages published to that destination.</span>

    <form [formGroup]="form">
      <!-- Topic -->
      <mat-form-field>
        <mat-label>Topic</mat-label>
        <input matInput [formControlName]="TOPIC">
        <!-- Subscribe/Unsubscribe -->
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="onSubscribe()" *ngIf="!isSubscribed" [disabled]="form.invalid" class="subscribe">Subscribe</button>
      <button mat-stroked-button color="primary" (click)="onUnsubscribe()" *ngIf="isSubscribed" [disabled]="form.invalid" class="unsubscribe">Unsubscribe</button>
    </form>

    <!-- Messages -->
    <sci-viewport class="messages">
      <section *ngFor="let message of messages" class="message">
        <label>Payload:</label><span class="payload">{{message.text || message.binary}}</span>
        <label>Type:</label><span>{{message.type}}</span>
        <label>Timestamp:</label><span>{{message.timestamp | date:'HH:mm:ss'}}</span>
        <label>Details:</label><span>{{message.details}}</span>
        <label>Named segments:</label><span>{{message.namedWildcardSegments}}</span>
        <button mat-mini-fab class="delete" color="primary" (click)="onMessageDelete(message)">
          <mat-icon>delete</mat-icon>
        </button>
      </section>
    </sci-viewport>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button (click)="onClear()" *ngIf="messages.length">Clear messages</button>
  </mat-card-actions>

  <mat-card-footer *ngIf="subscribeError">
    <section class="error">
      {{subscribeError}}
    </section>
  </mat-card-footer>
</mat-card>
