@use 'solace-client-theme' as app-theme;
@use '~@angular/material/theming';

:host {
  display: grid;
  gap: .75em 2em;
  grid-template-columns: max-content auto;

  > header {
    grid-column: 1/-1;
    font-size: theming.mat-font-size(app-theme.$typography, subheading-2);
    font-weight: bold;
    margin-bottom: 1em;
  }

  > div.buttons {
    border-top: 1px solid theming.mat-color(app-theme.$foreground, light-secondary-text);
    margin-top: 3em;
    padding-top: .75em;
    grid-column: 1/-1;
    color: theming.mat-color(app-theme.$foreground, light-dividers);
    display: flex;
    justify-content: space-between;
  }
}

