@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;
@use 'styles/solace-client-theme' as app-theme;
@use '@scion/components';

$theme: mat.m2-define-light-theme((
  color: (
    primary: app-theme.$primary,
    accent: app-theme.$accent,
    warn: app-theme.$warn,
  )
));

@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@include mat.all-component-typographies();
@include mat.core();
@include mat.all-component-themes($theme);

body {
  position: absolute;
  inset: 0;
  font-size: mat.m2-font-size(app-theme.$typography, body-1);
  font-family: mat.m2-font-family(app-theme.$typography, body-1);
}

