@use '~@angular/material' as mat;
@use '~@angular/cdk' as cdk;
@use 'styles/solace-client-theme' as app-theme;

$theme: mat.define-light-theme((
  color: (
    primary: app-theme.$primary,
    accent: app-theme.$accent,
    warn: app-theme.$warn,
  )
));

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@include cdk.a11y-visually-hidden();
@include cdk.overlay();
@include mat.core();
@include mat.all-component-themes($theme);


body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: mat.font-size(app-theme.$typography, body-1);
  font-family: mat.font-family(app-theme.$typography);
}

